body {
    
    background-color: #263138;
}
ul {
    list-style-type: none;
    margin-left: 20em;
}

ul li a {
    text-decoration: none;
    color: white;
    display: block;
    opacity: .7;
    
}

ul li {
    float: left;
    width: 140px;
    height: 40px;
    background-color: black;
    font-size: 20px;
    line-height: 40px;   
    text-align: center;
    border: 2px solid #263138;
}

ul li a:hover{
    transition: linear all .4;
    background-color: royalblue;
    opacity: 1;
}
